@import 'variables';
.icon-round {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
  background: #f0f0f0;
  text-align: center;
  font-size: 2.8rem;
  line-height: 4.8rem;
  color: #959595;
  text-decoration: none !important;
  i{
    height: 100%;
    display: block;
    line-height: 5rem;
  }
}

.dropdown{
  i{
    font-size: 2rem;
  }

  i.fa-angle-down{
    display: block;
  }

  i.fa-angle-up{
    display: none;
    color: #f05323;
  }

  &.open{
    i.fa-angle-down{
      display: none;
    }

    i.fa-angle-up{
      display: block;
    }
  }
}

.remove-all-filters{
  color: #f05323!important;
  cursor: pointer;
}

.screen-to-top-block{
  margin-top: 12rem;
  margin-bottom: 14rem;
  height: 5rem;
}

.featured{
  color: #fff;

  img{
    width: 100%;
  }

  h1{
    font-family: 'DIN CondensedBold';
    font-size: 5rem;
    text-transform: uppercase;
  }

  p{
    font-family: 'Gotham Book';
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    line-height: 2.5rem;
  }

  .content-block{
    max-width: 30rem;
    padding-bottom: 5rem;
  }

  .content-centered-vertical{
    .container{
      width: 100%;
    }
  }
}

.collection{
  #content{
    margin-top: 3rem;
  }

  .product-item{
    margin-bottom: 2rem;
  }
}

.sidebar{
  .filter-menu{
    margin-right: 4rem;
    margin-top: 3rem;
  }

  h4{
    font-family: 'Gotham Medium';
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
  }

  ul{
    margin-bottom: 3.5rem;
  }

  ul li a{
    font-size: 1.6rem;
    color: #55595a;
    font-family: 'Gotham Book';
    line-height: 1.6rem;
    margin: 0;
  }

  #nav-all-categories, #nav-brand, #nav-size{
    a{
      margin-left: 1.2rem;
      margin-bottom: 0.8rem;
      @include ac-link;
    }
  }

  #nav-all-categories, #nav-brand{
    i.check-icon{
      display: none;
    }
  }

  #nav-size{
    a{
      margin-bottom: 1.5rem;
    }
  }

  h4.section-title{
    font-family: 'Gotham Bold';
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 1rem!important;
    border-bottom: 0.4rem solid #f5f5f5!important;
    margin-bottom: 4rem;
  }

  .filter-group{
    padding-left: 5rem;

    li{
      margin-bottom: 0.75rem;

      &.selected{
        a{
          font-weight: bold;
        }
      }
    }
  }

  #nav-size ul li{ 
    float:left; 
    width:50%;
  }

  #nav-color ul{ 
    li{
      display: inline-block;
      margin-right: 1.5rem;

      a{
        text-indent: -99999px; 
        display: block;
        margin-left: 0; 
        margin-right: 0;
      }

      .collection-name p{
        border-radius: 50%; 
        opacity: 0.58;
        width: 34px;
        height: 34px;
      }
    }
  }
}

.product-item{
  .product-image{
    position: relative;
    height: 30rem;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: auto;
      max-width: none;
    }
  }

  &:hover{
    .product-options{
      display: block;
    }

    p{
      opacity: 0.5;
    }
  }

  .product-options{
    display:none; position:absolute; width:100%; height:100%;
    background-color: rgba(231, 231, 231, 0.73); top:0;  
    transition: all 0.35s ease 0s;
    a{
      width: 25px;
      height: 25px; 
      display: inline-block; 
      text-indent: -9999px;
      border-radius: 50%; 
      margin: 0 5px;
    }

    .option-colors{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translate(0, -50%);
      p{
        font-family: 'Gotham Medium';
        color: #333332!important;
        opacity: 1!important;
      }
    }
  }

  p{
    font-size:1.6rem;
    font-family: 'Gotham Book';
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
  }

  .product-title{
    font-family: 'DIN CondensedBold';
    font-size: 2.5rem;

    a{
      font-family: 'DIN CondensedBold';
      font-size: 2.5rem;
      color: #333332;
      text-decoration: none;
    }
  }
}

.filter-sort{
  button#dropdown-sort-by{ 
    padding: 0 10px;
    min-width: 20rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color: #333332;
    outline: none;
    font-family: 'Gotham Medium';
    display: block;
    background: #fff;
    border: 1px solid #e2e2e2;
    text-align: left;

    i{
      float: right;
      height: 4rem;
      line-height: 4rem;
    }
  }
  ul.metismenu > li > ul{
    margin: 0;
    position: absolute;
    z-index: 99;
  }

  ul.metismenu > li > a{
    background: #fff;
    border: 1px solid #eee;
  }

  #sort-by{
    li.active{
      background: #e2e2e2;
    }

    a{
      padding: 0 10px;
      min-width: 20rem;
      height: 4rem;
      line-height: 4rem;
      font-size: 1.5rem;
      color: #333332;
      outline: none;
      font-family: 'Gotham Medium';
      display: block;

      &:hover{
        background: #fbfbfb;
      }
    }
  }
}


#{$viewport-lg-down}{
  .featured{
    .content-block{
      max-width: none;
    }

    img{
      height: 100%;
      width: auto;
      max-width: none;
    }

    min-height: 40vh;
  }
}