.lime-green{background: url('color-lime-green.jpg'); } 
.clinique{background: url('color-clinique.jpg'); }
.antracite-lime{ background: url('color-antracite-lime.jpg'); }
.ashley-blue{ background: url('color-ashley-blue.jpg'); }
.black-green{ background: url('color-black-green.jpg'); }
.black-light-blue{ background: url('color-black-light-blue.jpg'); }
.black-lime{ background: url('color-black-lime.jpg'); }
.black-orange{ background: url('color-black-orange.jpg'); }
.black-pinstripe{ background: url('color-black-pinstripe.jpg'); }
.black-red{ background: url('color-black-red.jpg'); }
.black-white{ background: url('color-black-white.jpg'); }
.flower-power{ background: url('color-flower-power.jpg'); }
.hawaii{ background: url('color-hawaii.jpg'); }
.innerspace{ background: url('color-innerspace.jpg'); }
.light-blue{ background: url('color-light-blue.jpg'); }
.matte-black{ background: url('color-matte-black.jpg'); }
.matte-navy{ background: url('color-matte-navy.jpg'); }
.navy-pink{ background: url('color-navy-pink.jpg'); }
.navy-white{ background: url('color-navy-white.jpg'); }
.persimmion{ background: url('color-persimmion.jpg'); }
.pink-navy{ background: url('color-pink-navy.jpg'); }
.white{ background: url('color-white.jpg'); }
.white-light-blue{ background: url('color-white-light-blue.jpg'); }
.white-lime-green{ background: url('color-white-lime-green.jpg'); }
.white-navy{ background: url('color-white-navy.jpg'); }
.white-orange{ background: url('color-white-orange.jpg'); }
.white-pinstripe{ background: url('color-white-pinstripe.jpg'); }
.white-red{ background: url('color-white-red.jpg'); }