@import "variables";

@media (max-width: 1358px){
  #welcome-text{
    display: none;
  }
}

nav{
  ul{
    padding: 0;
    margin: 0;

    li{
      margin: 0;
      padding: 0;
    }
  }
}

#navbar-main-area{
  height: 7rem;
  line-height: 7rem;
}

#navbar-main{
  height: 7rem;
  padding: 0 1rem;
  top: 0!important;
  #logo{
    img{
      max-height: 5rem;
    }
  }
}

#site-navigation{
  font-size: 1.3rem;
  line-height: 5rem;

  border-top: 1px solid $color-acc-main-nav-border;
  border-bottom: 1px solid $color-acc-main-nav-border-bottom;
  padding: 0 3.5rem;

  position: relative;

  #main-menu{
    text-align: center;

    a{
      font-size: 2.120rem;
      font-weight: normal;
      text-transform: uppercase;
      color: $color-acc-main-nav;
      padding: 0 1rem;
      font-family: 'DIN CondensedBold';
      letter-spacing: 1px;
      -webkit-font-smoothing: antialiased;

      &:hover{
        text-decoration: underline;
      }
    }

    li.buddha-menu-item{
      & > ul{
        padding-top: 1.5rem!important;
      }
    }

    li{
      ul{
        a, span{
          font-size: 1.485rem!important;
          font-family: 'Gotham Medium';
        }
      }
    }
  }

  #cart-links{
    a{ 
      font-size: 1.3rem; 
      font-family: 'Gotham Medium';
      color: #8d8d8d;
    }

    a.cart{
      margin-left: 2.4rem;
    }
  }
}

#site-masthead{
  #site-navigation{
    padding: 1.5rem 3.5rem;
    .text-block{
      line-height: 2.6rem;
    }
  }

  #main-menu{
    height: 2.6rem;

    & > ul > li{
      display: inline-table;
      padding: 0 1.5rem;

      & > ul{
        overflow: visible!important;
        &:before{
          content: ''!important;
          height: 100%;
          width: calc((100vw - 100%) / 2);
          background: #fff;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-100%, 0);
        }

        &:after{
          content: ''!important;
          content: '';
          height: 100%;
          width: calc((100vw - 100%) / 2);
          background: #fff;
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(100%, 0);
        }
      }

      & > a {
        margin-bottom: 1.3rem!important;
        display: block;
        text-decoration: none;
        padding: 0;
        @include ac-link;
      }

      a{
        @include ac-link;
      }
    }
  }
}

.mm-submenu{
  &>li{
    padding: 0!important;
  }
}

// mobile version goes right here
#mobile-navigation{
  background: #fff;
  width: 83vw;

  #search-box{
    height: 7rem;
    background: #fff;
  }

  #search-form{
    height: 7rem;
    margin: 0;
    width: 100%;
    input{
      width: 100%;
    }

    .input-group{
      border: none;
    }

    .form-control{
      height: 7rem;
      outline: none;
      border: none;
    }
  }

  #cart-links{
    background: $color-acc-footer-bg;
    height: 7rem;
    line-height: 7rem;
    font-size: 1.3rem;
    a{
      color: #fff;
    }

    li:last-child{
      border-left: 1px solid #333; 
    }
  }

  #main-menu{
    /*background-image: linear-gradient(to right, #333333 10px, #222222 10px);*/
    background: #333333;
    .menu-item-has-children{

      &>a {
        span{
          float: right;
          line-height: 3rem;
          &:after{
            content: "\20\f105";
          }
        }
        
      }

      &.active>a {
        span:after{
          content: "\f107";
        }
      }
    }

    a{
      display: block;
      line-height: 3rem;
      font-size: 1.3rem;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
      color: #333;
      text-transform: uppercase;
      text-decoration: none;

      border-top: 1px solid rgba(0, 0, 0, 0.3)
    }

    li{
      list-style: none;
    }

    & > li{
      a{
        padding: 1rem 2rem;
        color: #fff;
      }

      ul{
        a{
          padding-left: 4rem;
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

ul.site-nav > li > a .fa{
  display: none;
}

ul.horizontal-mega-menu a:after, ul.vertical-mega-menu a:after, ul.mm-submenu a:after{
  content: ''!important;
}