.mz-expand{
  top: 0!important;
  background: #fff!important;
  .mz-expand-stage{
    background: #fff!important;
  }
  .mz-caption{
    display: none;
  }
  .mz-expand-thumbnails{
    display: none;
  }
  .mz-image-stage{
    padding-bottom: 20px!important;
  }
}

.MagicToolboxMessage{
  display: none;
}

button.mz-button.mz-button-next, button.mz-button.mz-button-prev{
  border: none!important;
  margin: 0!important;

  &:hover, &:focus, &:active{
    border: none!important;
  }
}

.product-single{
  .single-image{
    margin-top: 8rem;

    a.MagicZoomPlus{
      display: block;
      height: 100%;

      figure.mz-figure{
        max-height: 100%;
      }

      img{
      }
      .mz-hint{
        display: none!important;
      }
    }

    .MagicToolboxSelectorsContainer{
      padding: 0 7rem;
      margin-top: 50px;
      position: relative;

      a {
        display: block;
        height: 100px;
        background: #fff;
        margin: 0!important;
        margin-right: 0.5rem!important;

        img:hover{
            filter: none;
        }
        &.mz-thumb-selected{
          filter: brightness(85%);
          img{
            filter: none;
          }
        }
      }
    }
  }

  .product-single__title{
    font-family: 'DIN CondensedBold';
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 8rem;
  }

  .product-single__prices{
    font-family: 'Gotham Medium';
    font-size: 1.8rem;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #ededed;
    color: #55595a;
  }

  .product-description{
    font-size: 1.5rem;
    border-bottom: 1px solid #ededed;

    article{
      padding: 3.5rem 0;
    }

    .readmore{
      font-family: 'Gotham Book';
      display: block;
      margin-top: 2.5rem;
      text-transform: uppercase;
      color: #333332;
      i{
        margin-left: 3rem;
      }
    }
  }

  #options, #actions, #swatches{
    padding: 4rem 0;
    border-bottom: 1px solid #ededed;

  }

  #swatches{
    font-size: 1.5rem;

    .swatch-title{
      text-transform: uppercase;
      color: #333332;
    }

    .swatch-selected{
      font-family: 'Gotham Book';
    }

    .swatch-element{
      cursor: pointer;
      &.soldout{
        display: none;
      }
    }
  }

  .tooltip{
    display: none!important;
  }

  label{
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Gotham Medium';
    color: #333332;
    text-transform: uppercase;
    display: block;
  }

  .product-single__quantity .quantity-selector, .single-option-selector {
    width: 100%; 
    background: #fff url("../assets/select-icon.png") no-repeat scroll right 10px center;
    border: 1px solid #b4b6b7; 
    color: #333332; 
    font-family: "Gotham Book";
    font-size: 1.5rem; 
    outline: none;
    margin-bottom: 1.5rem;
   }


  .wishlist-pro-wrapper a{
    font-family: 'Gotham Medium';
    background-color:#ededed; 
    color:#333332!important; 
    display:block;
    text-align:center;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-top: 1.5rem;
   }


  ul.tabs
  {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: table;
    width: 100%;

    li{ 
      font-family: 'Gotham Medium';
      font-size: 1.5rem; 
      color:#333332;
      text-transform: uppercase;
      cursor: pointer; 
      display: table-cell;

      &:last-child{
        margin-right: 0;
      }

      &.current{
        .tab-label .bottom-bar{
          display: block;
        }
      }

      .tab-label
      {
        padding-top: 4rem;
        padding-bottom: 3rem;
        display: inline-block;
        position: relative;

        span{
          text-decoration: underline;
        }

        .bottom-bar{
          display: none;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          border-top: 1px solid #ededed;
          border-bottom: 1rem solid #ededed;
          padding-bottom: 1rem;
          margin-top: 2rem;
        }
      }
    }
  }

  .displayTabs{
    font-size: 1.6rem; 
    font-family: 'Gotham Book';
    border:0; 
    margin:0; 
    padding:0;
    color:#333332;
    background: #ededed;

    .tab-content{
      padding: 6rem 0 6rem 0;
      background: #ededed;
      display: none;

      &.current{
        display: block;
      }

      .table-wrapper{
        margin-right: 5rem;
      }

      table{
        width: 100%;
        tr{
          border-bottom: 1px solid #e2e2e2;
          td{
            padding: 5px 0;
          }
        }
      }
    }

    ul{
      font-family: 'Helvetica Neue';
      list-style: disc;
      li{
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
        padding-left: 1.2rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
    }

    h1{
      font-size: 3.5rem; 
      margin-bottom: 3.5rem;
      font-family: 'DIN CondensedBold';
      text-transform: uppercase;
    }
    .spr-container{padding:0!important; border:0!important;}
    .spr-header-title{font-size: 3.5rem; text-transform: uppercase; line-height: 3.5rem; margin-bottom: 4rem;}
  } 

  #product-slider{
    position: relative;
    overflow: hidden;
    background: #fff;
    min-height: 30vh;
    img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .swiper-buttons{
    height: 4.5rem;
    z-index: 99;
  }

  .swiper-pagination-bullets{
    bottom: 2rem!important;
    z-index: 99;
    width: 100%;

    .swiper-pagination-bullet{
      margin: 0 0.7rem;
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
    }
  }

  .swiper-button-prev, .swiper-button-next{
    background: #ededed;
    color: #808080;
    font-size: 3rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    cursor: pointer;
  }

  .related_products{
    background-color:#ededed;
    padding-top: 4rem;
    
    .section-header{
      margin: 0;
    }

    .section-header__title{
      font-family: 'DIN CondensedBold';
      font-size: 3rem;
      line-height: 3rem;
      text-transform: uppercase;
      padding-bottom: 1rem;
      border-bottom: 3px solid #f5f5f5;
      margin: 0;
    }

    .product-item{
      .product-meta{
        strike
        {
          display: none;
        }
      }
    }
    .product-item:hover{
      background: #fff;
      .product-info{
        padding: 0 1.5rem;
      }

      p{
        opacity: 1;
      }
    }
  }

  .tab-content.product-reviews{
    padding-bottom: 0;
  }

  #product-reviews{
    margin-bottom: -6rem;
    .items{
      padding: 0 5rem;
      padding-bottom: 7rem;
      font-family: 'Helvetica Neue';

      &.ac{
        border-right: 1px solid #999;
      }

      .item{
        border-bottom: 1px solid #999999;
        margin-bottom: 4rem;

        &:last-children{
          margin-bottom: 1.5rem;
        }
      }

      .view-all a{
        font-family: 'Gotham Medium';
        font-size: 1.5rem;
        color: #999999;
        i{
          padding-left: 4.5rem;
        }
      }
    }

    h2{
      font-family: 'DIN CondensedBold';
      text-transform: uppercase;
      color: #666666;
      margin-bottom: 3rem;
    }
    p{
      margin-bottom: 4rem;
    }
    a.btn{
      width: auto;
      padding-left: 3.8rem;
      padding-right: 3.8rem;
      i{
        padding-left: 4rem;
      }
    }
  }
}


.viewport-sm, .viewport-xs{
  #product-reviews{
    .items.ac{
      border: none!important;
    }
  }

  #tab-1{
    .product-description{
      .row > div{
        margin-bottom: 2rem;
      }
    }
  }

  #product-slider{
    .swiper-slide{
      overflow: hidden;
    }

    .swiper-slide .image{
      height: 40vh;
      overflow: hidden;
      img{
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }
}